{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
    
    <!-- Link to your static CSS file if needed -->
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<body>


    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="/img/bars.svg" width="30" height="30">
        </label>
        <label class="logo">
            <img src="Background Image.jpg" alt="" id="logo">
        </label>
        <ul>

            <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'store' %}">Shop</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Demo</a></li>
            {% comment %} <li><a href="{% url 'login' %}">login</a></li> {% endcomment %}
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a class="nav-link" href="{% url 'admission' %}">Admission</a></li>
        </ul>
    </nav>

        {% block body %}
        {% endblock %}


    <!-- Bootstrap JS and jQuery (Ensure these scripts are included for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
